<div id="zen-home-footer-container">
    <div class="row pt-3">
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-icon.svg" alt="Zenify Software Solutions"></object>
                </div>
                <div class="col-12 col-md-8 text-justify">
                    <div class="zen-footer-title">© {{currentYear()}} Zenify. All Rights Reserved</div>
                    <p class="zen-footer-text">Zenify was established in 2020 with the primary motivation to bridge rising businesses and raw talents.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 zen-home-footer-links">
            <div>
                <a href="" class="zen-footer-link mr-2" tabindex="2" routerLink="/about">About Zenify</a>
            </div>
            <div>
                <a href="" class="zen-footer-link mr-2" tabindex="2" routerLink="/">Our Services</a>
            </div>
            <div>
                <a href="" class="zen-footer-link mr-2" tabindex="2" [routerLink]="" (click)="redirectToFAQ()">FAQ</a>
            </div>
            <div>
                <a href="" class="zen-footer-link mr-2" tabindex="2" routerLink="/pricing">Pricing</a>
            </div>
        </div>
        <div class="col-12 col-md-4 zen-home-footer-links">
            <div>
                <a href="" class="zen-footer-link mr-2" tabindex="2" routerLink="/contact">Leave a message</a>
            </div>
            <div class="zen-footer-text mt-1 pl-4">
                <mat-icon class="material-icons-outlined">email</mat-icon>info@zenifysolutions.com
            </div>
        </div>
    </div>
</div>