<div id="zen-home-footer container">
    <div class="row pt-3">
        <div class="col-12 col-sm-4">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-icon.svg"></object>
                </div>
                <div class="col-12 col-md-8 text-justify">
                    <div class="zen-footer-title">© {{currentYear()}} Zenify. All Rights Reserved</div>
                    <p class="zen-footer-text">Zenify was established in 2020 with the primary motivation to bridge rising businesses and raw talents.</p>
                </div>
            </div>
        </div>
        <div class="zen-home-footer-links col-12 col-sm-4">
            <div>
                <a href="" class="zen-footer-link mr-2" tabindex="2">Terms of Service</a>
            </div>
            <div>
                <a href="" class="zen-footer-link mr-2" tabindex="2">Privacy</a>
            </div>
        </div>
        <div class="zen-home-footer-links col-12-col-sm-4 text-center">
            <div class="zen-footer-text mb-4">
                Receive news of our latest products and promos
            </div>
            <input type="text" class="form-control" placeholder="your email" tabindex="2" />
            <button type="button" class="btn zen-btn-outline-solid-white mt-2 w-100" tabindex="2">Subscribe to newsletter</button>
        </div>
    </div>
</div>