<h2 class="zen-basic text-uppercase text-center mb-4 pb-4">Web Development</h2>

<div class="zen-home-pricing-row pb-4 text-center">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="zen-rate-container">
        <div>
          <h4 class="zen-basic">MVP Applications</h4>
          <label>Starts as low as</label>
          <h2 class="zen-basic" *ngIf="getRates()">{{getRates().currency}} {{getRates().fixed | currency: ' ' : 'symbol': '0.0'}}</h2>
          <div class="zen-pricing-caption">
              For Startup MVPs. Base rates vary per tier
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="zen-rate-container">
        <div>
          <h4 class="zen-basic">Maintenance</h4>
          <label>Starts as low as</label>
          <h2 class="zen-basic" *ngIf="getRates()">{{getRates().currency}} {{getRates().maintenance | currency: ' ' : 'symbol': '0.0'}} / mo.</h2>
          <div class="zen-pricing-caption">
            For Startup MVPs. Base rates vary per tier
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="zen-home-pricing-row pb-4">
    <h5>Scope</h5>
    <div class="example-container">
        <table mat-table [dataSource]="_tierDescriptions" class="w-100">
      
          <!-- Position Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="startup">
            <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[0]}}</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.startup !== true else checked" class="text-center">
                    <span *ngIf="element.startup !== false">{{element.startup}}</span>
                </div>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="commercial">
            <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[1]}}</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.commercial !== true else checked" class="text-center">
                    <span *ngIf="element.commercial !== false">{{element.commercial}}</span>
                </div>
            </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="professional">
            <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[2]}}</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.professional !== true else checked" class="text-center">
                    <span *ngIf="element.professional !== false">{{element.professional}}</span>
                </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="enterprise">
            <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[3]}}</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.enterprise !== true else checked" class="text-center">
                    <span *ngIf="element.enterprise !== false">{{element.enterprise}}</span>
                </div>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="_columns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: _columns;"></tr>
        </table>
    </div>
</div>

<div class="zen-home-pricing-row pb-4">
  <h5>Authentication</h5>
  <div class="example-container">
      <table mat-table [dataSource]="_authenticationDescriptions" class="w-100">
    
        <!-- Position Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="basic">
          <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[0]}}</th>
          <td mat-cell *matCellDef="let element">
              <div *ngIf="element.basic !== true else checked" class="text-center">
                  <span *ngIf="element.basic !== false">{{element.basic}}</span>
              </div>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="advanced">
          <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[1]}}</th>
          <td mat-cell *matCellDef="let element">
              <div *ngIf="element.advanced !== true else checked" class="text-center">
                  <span *ngIf="element.advanced !== false">{{element.advanced}}</span>
              </div>
          </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="professional">
          <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[2]}}</th>
          <td mat-cell *matCellDef="let element">
              <div *ngIf="element.professional !== true else checked" class="text-center">
                  <span *ngIf="element.professional !== false">{{element.professional}}</span>
              </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="enterprise">
          <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[3]}}</th>
          <td mat-cell *matCellDef="let element">
              <div *ngIf="element.enterprise !== true else checked" class="text-center">
                  <span *ngIf="element.enterprise !== false">{{element.enterprise}}</span>
              </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="_apicolumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: _apicolumns;"></tr>
      </table>
  </div>
</div>

<div class="zen-home-pricing-row pb-4">
    <h5>API</h5>
    <div class="example-container">
        <table mat-table [dataSource]="_apiTierDescriptions" class="w-100">
      
          <!-- Position Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="basic">
            <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[0]}}</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.basic !== true else checked" class="text-center">
                    <span *ngIf="element.basic !== false">{{element.basic}}</span>
                </div>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="advanced">
            <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[1]}}</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.advanced !== true else checked" class="text-center">
                    <span *ngIf="element.advanced !== false">{{element.advanced}}</span>
                </div>
            </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="professional">
            <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[2]}}</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.professional !== true else checked" class="text-center">
                    <span *ngIf="element.professional !== false">{{element.professional}}</span>
                </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="enterprise">
            <th mat-header-cell *matHeaderCellDef  class="text-center">{{_pricingTiers[3]}}</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.enterprise !== true else checked" class="text-center">
                    <span *ngIf="element.enterprise !== false">{{element.enterprise}}</span>
                </div>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="_apicolumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: _apicolumns;"></tr>
        </table>
    </div>
</div>

<ng-template #checked>
  <div class="zen-icon-container">
    <mat-icon>check</mat-icon>
  </div>
</ng-template>

<div class="zen-pricing-subtext">
    Projects are assessed using the tiers defined above as basis. Feel free to contact us and schedule a meeting to discuss the details of your project. 
</div>

<div class="mt-4 mb-4 pb-4 text-center">
    <button type="button" class="btn zen-btn-primary p-3 text-uppercase" tabindex="1" routerLink="/contact">Request for an estimate</button>
</div>