@import 'src/assets/scss/mixins.scss';

.zen-home-pricing-row {
    @include page-padding;
    margin-top: -3.5em;
}

.zen-home-pricing-backend {
    @include page-padding;
    background-color: $off-white;
}

.zen-section-title {
    font-family: $zen-font-light;
    letter-spacing: $letter-spacing-s;
}

.zen-pricing-card {
    min-height: 45em;
    margin: .25em;

    @media only screen and (max-width: 1366px) {
        min-height: 50em;
    }

    @media only screen and (max-width: 1024px) {
        min-height: 50em;
    }

    @media only screen and (max-width: 768px) {
        min-height: 60em;
    }

    @media only screen and (max-width: 600px) {
        min-height: 45em;
    }
}

.zen-home-pricing-description {
    color: $dark-grey;
}

.zen-home-pricing-description mat-icon {
    color: $zen-palette-2;
}

.zen-pricing-max-rate {
    color: $dark-grey;
    font-size: small;
}

.zen-home-pricing-inclusions {
    @include position(absolute, auto, auto, 0, 0);
    text-align: left;
    background: $off-white-0;
    width: 100%;
    padding: 1.25em;
}