@import 'src/assets/scss/mixins.scss';

.zen-home-pricing-row {
    @include page-padding;
}

.zen-home-pricing-row:nth-child(1) {
    margin-top: -3.5em;
}

mat-card-header {
    background: $zen-palette-1;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 1em;
    padding: .25em 0;
    text-align: left;
}

.zen-icon-container {
    background: $zen-palette-2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width:fit-content;
    margin: 0 auto;
}

td mat-icon {
    color: $white;
}

.zen-section-title {
    font-family: $zen-font-light;
    letter-spacing: $letter-spacing-s;
}

.zen-pricing-max-rate {
    color: $dark-grey;
    font-size: small;
}

.zen-pricing-subtext {
    font-size: small;
    font-style: italic;
    color: $light-grey;
    text-align: center;
}