@import 'mixins.scss';

button {
    border-radius: 0rem !important;
}

button:focus {
    outline: none !important;
}

.zen-btn {
    @include active {
        @include link($dark-grey);
        margin: 0 1em;
        @media screen and (max-width: 768px) {
            margin: 0 0.5em;
        }
    }

    @include hover-focus {
        @include link($zen-palette-2);
    }
}

.zen-btn-title {
    @include solid-button($zen-palette-2, $white, $white, $zen-palette-2);
}

.zen-btn-primary {
    @include solid-button($zen-palette-1, $white, $zen-palette-2, $white);
}

.zen-btn-solid-outline {
    @include solid-outline-button($zen-palette-1, $white, $zen-palette-2);
}

.zen-btn-outline {
    @include outline-button($zen-palette-1, $zen-palette-2);
}

.zen-btn-outline-solid {
    @include outline-solid-button($zen-palette-1, $zen-palette-2, $white);
}

.zen-btn-outline-white {
    @include outline-button($white, $zen-palette-2);
}

.zen-btn-solid-outline-white {
    @include solid-outline-button($white, $zen-palette-2, $white);
}

.zen-btn-outline-solid-white {
    @include outline-solid-button($white, $white,  $zen-palette-2);
}