@import 'mixins.scss';

.row {
    @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-left: 0;
    }
}

.col-12 {
    @media screen and (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $zen-palette-1;
}

.mat-card {
    border-radius: 0 !important;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 
        0px 2px 15px 0px rgba(0, 0, 0, 0.03), 
        0px 2px 15px 0px rgba(0, 0, 0, 0.04), 
        0px 2px 15px 0px rgba(0, 0, 0, 0.03);
}

.mat-tooltip {
    font-size: smaller !important;
}

.zen-result-dialog .mat-dialog-container {
    max-width: 450px !important;
  }