@import 'mixins.scss';

.row {
    @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-left: 0;
    }
}

.col-12 {
    @media screen and (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $zen-palette-1;
}

.mat-card {
    border-radius: 0 !important;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 
        0px 2px 15px 0px rgba(0, 0, 0, 0.03), 
        0px 2px 15px 0px rgba(0, 0, 0, 0.04), 
        0px 2px 15px 0px rgba(0, 0, 0, 0.03);
}

.mat-tooltip {
    font-size: smaller !important;
}

.zen-result-dialog .mat-dialog-container {
    max-width: 450px !important;
}

.btn {
    @media screen and (min-width: 2560px) {
        font-size: 22px !important;
        padding: 1.15rem 2rem !important;
    }

    @media screen and (min-width: 3840px) {
        font-size: 32px !important;
        padding: 1.5rem 2.5rem !important;
    }
}

.mat-expansion-panel-header {
    @media screen and (min-width: 3840px) {
        padding: 1.75rem 1rem !important;
    }
}

.mat-expansion-panel-content {
    @media screen and (min-width: 3840px) {
        padding: 1rem .5rem !important;
    }
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-content {
    @media screen and (min-width: 2560px) {
        font-size: 22px !important;
        line-height: 1.25;
    }
    
    @media screen and (min-width: 3840px) {
        font-size: 30px !important;
        line-height: 1.25;
    }
}

.form-control {
    @media screen and (min-width: 2560px) {
        font-size: 22px !important;
        height: calc(1.5em + 1rem + 2px);
    }

    @media screen and (min-width: 3840px) {
        font-size: 30px !important;
        height: calc(1.5em + 1rem + 2px);
    }
}