@import '../lounge.component.scss';

:host ::ng-deep .mat-datepicker-toggle .mat-icon-button {
    width: fit-content !important;
    padding-left: .5rem;
    padding-right: .5rem;
}

.zen-calendar-input {
    visibility: hidden;
    position: relative;
    top: -2.5rem;
}

a.zen-basic {
    font-family: $zen-font-regular;
    font-weight: 600;
}

a.zen-basic mat-icon {
    vertical-align: text-bottom;
}

.zen-calendar-day {
    font-family: $zen-font-regular;
    font-size: small;
    margin-top: -4rem;
    padding-left: .5rem;
}