@import 'src/assets/scss/mixins.scss';

#zen-partners {
    @include page-padding;
    background: $off-white;
    text-align: center;
    padding-bottom: 5em;

    @media only screen and (max-width: 600px) {
        padding-bottom: 5em;
    }
}

.zen-partners-label {
    padding: 2.5rem 0;
    color: $zen-palette-3;
}

#zen-partners img {
    max-width: 10em;

    @media only screen and (min-width: 2560px) {
        margin-bottom: 2.5em;
    }
}