<div class="row">
    <div class="col-12 col-md-6 pb-4">
        <h1 class="pt-4">Leave a message</h1>
        <p class="zen-content mb-4">
            Let us know how we can help you, and we'll get back to you the soonest. You may also email us at <strong>info@zenify.tech</strong>.
        </p>
        <p>We can't wait to hear from you!</p>
    </div>
    <div class="col-12 col-md-6">
        <mat-card id="zen-contact-form">
            <div [formGroup]="_contactForm">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" autocomplete="off" tabindex="1">
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" autocomplete="off" tabindex="1" required>
                    <mat-error *ngIf="hasError('email', 'pattern')">{{_messages.RESULT_MESSAGE_INVALID_EMAIL_ERROR}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Subject</mat-label>
                    <input matInput formControlName="subject" autocomplete="off" tabindex="1" maxlength="64" #subject>
                    <mat-hint align="end">{{subject.value.length}} / 64</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="message" autocomplete="off" tabindex="1" rows="5" maxlength="512" #message required></textarea>
                    <mat-hint align="end">{{message.value.length}} / 512</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Budget</mat-label>
                    <input matInput formControlName="budget" autocomplete="off" tabindex="1">
                    <mat-error *ngIf="hasError('budget', 'pattern')">{{_messages.FORM_AMOUNT_ERROR}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Currency</mat-label>
                    <input matInput formControlName="currency" autocomplete="off" tabindex="1" required>
                    <mat-hint>i.e. USD, AUD, PHP, etc.</mat-hint>
                </mat-form-field>
    
                <div class="text-right">
                    <button type="button" class="btn zen-btn-primary zen-btn-header ml-3 mt-3" tabindex="1" (click)="sendMessage()">Send message</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>