@import 'src/assets/scss/mixins.scss';

#zen-home-header-container {
    @include flex-row;
    width: 100%;
}

img#zen-header-logo {
    content: url('src/assets/images/logo/zenify-logo-white.webp');
    width: 15em;
    @media screen and (max-width: 600px) {
        width: 10.5em;
    }
}

div#zen-header-menu section {
    @media screen and (max-width: 600px) {
        display: none;
    }
}

div#zen-header-menu .zen-header-menu-toggle {
    color: $white;
    display: none;
    @media screen and (max-width: 600px) {
        display: block;
    }
}

a.zen-header-menu,
.zen-header-location {
    @include active {
        @include link($white);
        font-family: $zen-font-regular;
        letter-spacing: $letter-spacing-s;
        margin: 0 1em;
        padding-bottom: 0.25em;
        @media screen and (max-width: 768px) {
            margin: 0 0.5em;
        }
    }

    @include hover-focus {
        @include link($zen-palette-2);
    }
}

a.zen-header-menu {
    @include hover-focus {
        border-bottom: thin solid $zen-palette-2;
    }
}

.zen-btn-header {
    padding: 0.65rem 1.25rem;
    letter-spacing: $letter-spacing-s;
}