<div id="zen-header-container">
    <a href="#" routerLink="" tabindex="2"><img id="zen-header-logo" alt="Zenify - A software solutions and web development service provider" /></a>
    <div class="filler"></div>
    <div id="zen-header-menu">
        <section>
            <a href="#" class="zen-header-menu text-uppercase" tabindex="2" routerLink="/about">About</a>
            <a href="#" class="zen-header-menu text-uppercase" tabindex="2" routerLink="/pricing">Pricing</a>
            <a href="#" class="zen-header-menu text-uppercase" tabindex="2" routerLink="/contact">Contact</a>
        </section>

        <div class="zen-header-menu-toggle">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-2"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button type="button" mat-menu-item routerLink="/about">About</button>
                <button type="button" mat-menu-item routerLink="/pricing">Pricing</button>
                <button type="button" mat-menu-item routerLink="/contact">Contact</button>
            </mat-menu>
        </div>
    </div>
</div>