<section id="zen-hero-container" class="row">
    <div class="zen-hero-vector col-12 col-md-6" *ngIf="_mobileView && _homePage">
        <object type="image/svg+xml" data="assets/images/svg/zenify-hero.svg" class="zen-home-hero" alt="Illustration on software development" @slide-up></object>
        <object type="image/svg+xml" data="assets/images/svg/zenify-hero-base.svg" class="zen-home-hero-base" @slide-down></object>
    </div>
    <div class="col-12" [ngClass]="{'col-md-6': _homePage}">
        <div class="zen-hero-content">
            <section *ngIf="_homePage">
                <ng-container *ngTemplateOutlet="homePageHero"></ng-container>
            </section>
            <section *ngIf="_aboutPage">
                <ng-container *ngTemplateOutlet="aboutPageHero"></ng-container>
            </section>
            <section *ngIf="_pricingPage">
                <ng-container *ngTemplateOutlet="pricingPageHero"></ng-container>
            </section>
            <section *ngIf="_contactPage">
                <ng-container *ngTemplateOutlet="contactPageHero"></ng-container>
            </section>
        </div>
    </div>
    <div class="col-12 col-md-6" *ngIf="!_mobileView && _homePage">
        <object type="image/svg+xml" data="assets/images/svg/zenify-hero.svg" class="zen-home-hero" alt="Illustration on software development" @slide-up></object>
        <object type="image/svg+xml" data="assets/images/svg/zenify-hero-base.svg" class="zen-home-hero-base" @slide-down></object>
    </div>
</section>
<ng-template #homePageHero>
    <h1 class="zen-hero-title">Do more, work less.</h1>
    <p class="zen-content">
        Too much work at hand? We can provide software solutions that can take loads off your business so you can do more and achieve more.
    </p>
    <p class="zen-content">Contact us today to get a FREE quotation!</p>
    <div class="d-inline-block mt-4">
        <button type="button" class="btn zen-btn-title zen-btn-header mr-2" tabindex="1" routerLink="/contact">Get Quotation</button>
    </div>
</ng-template>
<ng-template #aboutPageHero>
    <zen-home-about-hero></zen-home-about-hero>
</ng-template>
<ng-template #pricingPageHero>
    <zen-home-pricing-hero></zen-home-pricing-hero>
</ng-template>
<ng-template #contactPageHero>
    <zen-home-contact></zen-home-contact>
</ng-template>