@import 'src/assets/scss/mixins.scss';

#zen-home-header-hero {
    @include hero-padding;
    width: 100%;
}

.zen-hero-content {
    margin-top: 5rem;
    @media screen and (max-width: 600px) {
        text-align: center;
        margin-top: 0;
    }
}

.zen-hero-content button {
    @media screen and (max-width: 600px) {
        margin: 0.25rem 0;
    }
}

#zen-home-header-hero .zen-content {
    font-family: $zen-font-regular;
    color: #555555;
    margin-top: 1rem;
}