<main id="zen-lounge-container">
    <zen-lounge-header></zen-lounge-header>

    <section id="zen-lounge-content">
        <div *ngIf="_loungePage">
            <div id="zen-lounge-page-title">
                <h3 class="text-uppercase">Lounge</h3>
                <div class="filler">
                </div>
                <button mat-button type="button" class="zen-btn-primary ml-2" matTooltip="Start a project">
                    <mat-icon>add</mat-icon> Project
                </button>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-lounge.svg"></object>
                </div>
                <div class="col-12 col-md-5">
                    <section>
                        <zen-lounge-updates></zen-lounge-updates>
                    </section>
                    <section class="mt-4">
                        <zen-lounge-projects></zen-lounge-projects>
                    </section>
                </div>
                <div class="col-12 col-md-3">
                    <section>
                        <zen-lounge-calendar></zen-lounge-calendar>
                    </section>
                </div>
            </div>
            <section>
                <zen-lounge-associates></zen-lounge-associates>
            </section>
        </div>
    </section>

    <zen-lounge-footer></zen-lounge-footer>
</main>