@import 'src/assets/scss/mixins.scss';

main#zen-lounge-container {
    display: flex;
    flex-direction: column;
    min-height: $full-page-height;
}

#zen-lounge-content {
    @include lounge-padding;
    flex: 1 1 auto;
}

#zen-lounge-page-title {
    @include flex-row;
    margin-bottom: .5rem;
}

#zen-lounge-page-title button {
    margin-top: -.5rem;
}

.zen-card-title {
    font-family: $zen-font-regular;
}

.zen-card-transparent {
    background: transparent;
    box-shadow: none;;
}