<div class="row">
    <div class="col-12 col-md-4">
        <object type="image/svg+xml" data="assets/images/svg/zenify-pricing.svg" @slide-up></object>
    </div>
    <div class="col-12 col-md-8">
        <div class="p-3">
            <h1>Pricing</h1>
            <p class="text-justify">
                Software development takes into consideration several different variables.
                As such, these published rates are only to be taken as rough estimates.
                You may refer to our <a href="#" class="zen-primary-link" [routerLink]="" (click)="redirectToFAQ()">FAQs</a> for more details.
            </p>
        </div>
    </div>
</div>