<div class="row">
    <div class="col-12 col-md-4">
        <object type="image/svg+xml" data="assets/images/svg/zenify-pricing.svg" alt="Person examining software development costs" @slide-up></object>
    </div>
    <div class="col-12 col-md-8">
        <div class="p-3">
            <h1>Pricing</h1>
            <p class="text-justify">
                Several different factors such as scope, complexity and urgency among others come into play in every software development project. As such, the base rates below does not represent the concrete and final cost.
                For more details, refer to our <a href="#" class="zen-primary-link" [routerLink]="" (click)="redirectToFAQ()"><strong>FAQ</strong></a>.
            </p>
        </div>
    </div>
</div>