<header id="zen-lounge-header-container">
    <a href="" routerLink="/lounge"><img id="zen-header-logo" /></a>

    <section>
        <a href="#" class="zen-header-menu text-uppercase ml-2" tabindex="2">Lounge</a>
        <a href="#" class="zen-header-menu text-uppercase ml-2" tabindex="2">Board</a>
        <a href="#" class="zen-header-menu text-uppercase ml-2" tabindex="2">Projects</a>
    </section>

    <div class="zen-header-menu-toggle">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-2"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button type="button" mat-menu-item>Lounge</button>
            <button type="button" mat-menu-item>Board</button>
            <button type="button" mat-menu-item>Projects</button>
        </mat-menu>
    </div>

    <span class="filler"></span>

    <section>
        <mat-form-field class="mr-3">
            <mat-label>Search</mat-label>
            <input matInput autocomplete="off" tabindex="1">
        </mat-form-field>
        <ng-container *ngTemplateOutlet="userMenu"></ng-container>
    </section>

    <div class="zen-header-menu-toggle">
        <ng-container *ngTemplateOutlet="userMenu"></ng-container>
    </div>

    <ng-template #userMenu>
        <a href="#" class="zen-header-menu text-uppercase ml-2" tabindex="2" matTooltip="Notifications">
            <mat-icon class="material-icons-outlined">notifications</mat-icon>
        </a>
        <a href="#" class="zen-header-menu text-uppercase ml-2" tabindex="2" matTooltip="Zenify Support">
            <mat-icon class="material-icons-outlined">contact_support</mat-icon>
        </a>

        <button id="zen-lounge-header-profile-thumb" mat-icon-button [matMenuTriggerFor]="menu" class="ml-2">
            {{_userInitials}}
        </button>
        <mat-menu #menu="matMenu">
            <div class="p-3 text-center" *ngIf="_user">
                <small id="zen-header-user-name">{{_user.firstName}} {{_user.lastName}}</small>
            </div>
            <button type="button" mat-menu-item><mat-icon class="material-icons-outlined">perm_identity</mat-icon>My Profile</button>
            <button type="button" mat-menu-item><mat-icon class="material-icons-outlined">calendar_today</mat-icon>My Calendar</button>
            <button type="button" mat-menu-item><mat-icon class="material-icons-outlined">build</mat-icon>Account Settings</button>
            <button type="button" mat-menu-item><mat-icon class="material-icons-outlined">analytics</mat-icon>Billing Reports</button>
            <button type="button" mat-menu-item (click)="signOut()"><mat-icon class="material-icons-outlined">power_settings_new</mat-icon>Sign out</button>
        </mat-menu>
    </ng-template>
</header>