<div class="row mt-2">
    <div class="col-12 col-md-7">
        <mat-card class="zen-card-transparent">
            <h6 class="zen-card-title text-uppercase">Featured Associates</h6>
            <div class="mt-4 text-center">
                <p>No users at this time.</p>
            </div>
        </mat-card>
    </div>
    <div class="col-12 col-md-5">
        <mat-card class="zen-card-transparent">
            <h6 class="zen-card-title text-uppercase">Newest Associates</h6>
            <div class="mt-4 text-center">
                <p>No users at this time.</p>
            </div>
        </mat-card>
    </div>
</div>