<h2 class="zen-section-title zen-basic text-uppercase">Why Zenify?</h2>
<div class="zen-home-service-row mt-4 pt-4">
    <div class="zen-home-service row">
        <div class="zen-home-service-icon col-12 col-md-4 pt-4">
            <object type="image/svg+xml" data="assets/images/svg/zenify-client-interaction.svg" *ngIf="loadedOnce(0, 200)" @pop-up></object>
        </div>
        <div class="col-12 col-md-2"></div>
        <aside class="col-12 col-md-6 zen-service-info" [ngClass]="{'text-center': _mobileView}">
            <h3 class="zen-service-name zen-basic">We don't just build, we relate</h3>
            <p class="mb-4">
                We won't simply just build applications as you ask us to. While we understand that nobody could truly value your processes as much as you do, we at Zenify, will analyze and try to understand as much of your processes as possible so we can provide you tailor-fitted solutions and suggestions to help further improve your business.
            </p>
        </aside>
    </div>
</div>
<div class="zen-home-service-row mt-4 pt-4">
    <div class="zen-home-service row">
        <div class="zen-home-service-icon col-12 col-md-4" *ngIf="_mobileView">
            <object type="image/svg+xml" data="assets/images/svg/zenify-client-satisfaction.svg" *ngIf="loadedOnce(1, 600)" @pop-up></object>
        </div>
        <div class="col-12 col-md-2" *ngIf="_mobileView"></div>
        <aside class="col-12 col-md-6 zen-service-info" [ngClass]="{'text-right': !_mobileView, 'text-center': _mobileView}">
            <h3 class="zen-service-name zen-basic">Client satisfcation is our topmost priority</h3>
            <p class="mb-4">
                While we also offer you inputs and ideas on how to build and design your processes, we value more what could satisfy you. We will keep you in touch and in the loop when making decisions as we build your application.
            </p>
        </aside>
        <div class="col-12 col-md-2" *ngIf="!_mobileView"></div>
        <div class="zen-home-service-icon col-12 col-md-4" *ngIf="!_mobileView">
            <object type="image/svg+xml" data="assets/images/svg/zenify-client-satisfaction.svg" *ngIf="loadedOnce(1, 600)" @pop-up></object>
        </div>
    </div>
</div>
<div class="zen-home-service-row mt-4 pt-4">
    <div class="zen-home-service row">
        <div class="zen-home-service-icon col-12 col-md-4">
            <object type="image/svg+xml" data="assets/images/svg/zenify-team.svg" *ngIf="loadedOnce(2, 1300)" @pop-up></object>
        </div>
        <div class="col-12 col-md-2"></div>
        <aside class="col-12 col-md-6 zen-service-info" [ngClass]="{'text-center': _mobileView}">
            <h3 class="zen-service-name zen-basic">We deliver what you need and more</h3>
            <p class="mb-4">
                Our well-organized team is here to make sure nothing gets left out. From official meetings to casual talks, we want to get to know you and your business so that we won't fall short of what you need from us.
            </p>
        </aside>
    </div>
</div>
<div class="zen-home-service-row mt-4 pt-4">
    <div class="zen-home-service row">
        <div class="zen-home-service-icon col-12 col-md-4" *ngIf="_mobileView">
            <object type="image/svg+xml" data="assets/images/svg/zenify-location.svg" *ngIf="loadedOnce(3, 1723)" @pop-up></object>
        </div>
        <div class="col-12 col-md-2" *ngIf="_mobileView"></div>
        <aside class="col-12 col-md-6 zen-service-info" [ngClass]="{'text-right': !_mobileView, 'text-center': _mobileView}">
            <h3 class="zen-service-name zen-basic">Modern yet affordable IT solutions</h3>
            <p class="mb-4">
                One of the main factors in application development is the location. With our team primarily based in the Philippines, we can offer you more affordable rates without compromising in quality.
            </p>
        </aside>
        <div class="col-12 col-md-2" *ngIf="!_mobileView"></div>
        <div class="zen-home-service-icon col-12 col-md-4" *ngIf="!_mobileView">
            <object type="image/svg+xml" data="assets/images/svg/zenify-location.svg" *ngIf="loadedOnce(3, 1723)" @pop-up></object>
        </div>
    </div>

    <div id="zen-home-service-onboarding">
        <button type="button" class="btn zen-btn-primary p-3 text-uppercase" tabindex="1" routerLink="/contact">Zenify your business today!</button>
    </div>
</div>