<h2 class="zen-section-title zen-basic text-uppercase">Why Zenify?</h2>
<section>
    <div class="scrollable-container">
        <div class="zen-home-service-row mt-4 pt-4">
            <div class="zen-home-service row" *ngIf="showFirst() || isAtPosition(0, 1)" @pop-up-right>
                <div class="zen-home-service-icon col-12 col-md-4 pt-4">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-client-interaction.svg" alt="Software developer shaking hands with a client"></object>
                </div>
                <div class="col-12 col-md-2"></div>
                <aside class="col-12 col-md-6 zen-service-info" [ngClass]="{'text-center': _mobileView}">
                    <h3 class="zen-service-name zen-basic">{{_services[0].header}}</h3>
                    <p class="mb-4">
                        {{_services[0].content}}
                    </p>
                </aside>
            </div>
        </div>
        <div class="zen-home-service-row mt-4 pt-4">
            <div class="zen-home-service row" *ngIf="isAtPosition(400, 2)" @pop-up-left>
                <div class="zen-home-service-icon col-12 col-md-4" *ngIf="_mobileView">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-client-satisfaction.svg" alt="Software developer grabbing on to an arrow pointing upwards"></object>
                </div>
                <div class="col-12 col-md-2" *ngIf="_mobileView"></div>
                <aside class="col-12 col-md-6 zen-service-info" [ngClass]="{'text-right': !_mobileView, 'text-center': _mobileView}">
                    <h3 class="zen-service-name zen-basic">{{_services[1].header}}</h3>
                    <p class="mb-4">
                        {{_services[1].content}}
                    </p>
                </aside>
                <div class="col-12 col-md-2" *ngIf="!_mobileView"></div>
                <div class="zen-home-service-icon col-12 col-md-4" *ngIf="!_mobileView">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-client-satisfaction.svg" alt="Software developer grabbing on to an arrow pointing upwards"></object>
                </div>
            </div>
        </div>
        <div class="zen-home-service-row mt-4 pt-4">
            <div class="zen-home-service row" *ngIf="isAtPosition(900, 3)" @pop-up-right>
                <div class="zen-home-service-icon col-12 col-md-4">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-team.svg" alt="Software developers huddle to help find solutions"></object>
                </div>
                <div class="col-12 col-md-2"></div>
                <aside class="col-12 col-md-6 zen-service-info" [ngClass]="{'text-center': _mobileView}">
                    <h3 class="zen-service-name zen-basic">{{_services[2].header}}</h3>
                    <p class="mb-4">
                        {{_services[2].content}}
                    </p>
                </aside>
            </div>
        </div>
        <div class="zen-home-service-row mt-4 pt-4">
            <div class="zen-home-service row" *ngIf="isAtPosition(1300, 4)" @pop-up-left>
                <div class="zen-home-service-icon col-12 col-md-4" *ngIf="_mobileView">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-location.svg" alt="Software development in the Philippines"></object>
                </div>
                <div class="col-12 col-md-2" *ngIf="_mobileView"></div>
                <aside class="col-12 col-md-6 zen-service-info" [ngClass]="{'text-right': !_mobileView, 'text-center': _mobileView}">
                    <h3 class="zen-service-name zen-basic">{{_services[3].header}}</h3>
                    <p class="mb-4">
                        {{_services[3].content}}
                    </p>
                </aside>
                <div class="col-12 col-md-2" *ngIf="!_mobileView"></div>
                <div class="zen-home-service-icon col-12 col-md-4" *ngIf="!_mobileView">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-location.svg" alt="Software development in the Philippines"></object>
                </div>
            </div>
        </div>
        <div class="zen-home-service-row mt-4 pt-4">
            <div class="zen-home-service row" *ngIf="isAtPosition(1800, 5)" @pop-up-right>
                <div class="zen-home-service-icon col-12 col-md-4">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-promotion.svg" alt="Software developers stepping up in their career"></object>
                </div>
                <div class="col-12 col-md-2"></div>
                <aside class="col-12 col-md-6 zen-service-info" [ngClass]="{'text-center': _mobileView}">
                    <h3 class="zen-service-name zen-basic">{{_services[4].header}}</h3>
                    <p class="mb-4">
                        {{_services[4].content}}
                    </p>
                </aside>
            </div>
        </div>
        <div class="zen-home-service-row mt-4 pt-4">
            <div class="zen-home-service row" *ngIf="isAtPosition(2300, 6)" @pop-up-left>
                <div class="zen-home-service-icon col-12 col-md-4" *ngIf="_mobileView">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-web-development.svg" alt="Full cycle of web development"></object>
                </div>
                <div class="col-12 col-md-2" *ngIf="_mobileView"></div>
                <aside class="col-12 col-md-6 zen-service-info" [ngClass]="{'text-right': !_mobileView, 'text-center': _mobileView}">
                    <h3 class="zen-service-name zen-basic">{{_services[5].header}}</h3>
                    <p class="mb-4">
                        {{_services[5].content}}
                    </p>
                </aside>
                <div class="col-12 col-md-2" *ngIf="!_mobileView"></div>
                <div class="zen-home-service-icon col-12 col-md-4" *ngIf="!_mobileView">
                    <object type="image/svg+xml" data="assets/images/svg/zenify-web-development.svg" alt="Full cycle of web development"></object>
                </div>
            </div>
        </div>
    </div>
</section>