@import 'src/assets/scss/mixins.scss';

.zen-section-title {
    font-family: $zen-font-light;
    text-align: center;
    letter-spacing: $letter-spacing-s;
}

.zen-home-service-row {
    @include page-padding;
}

.zen-home-service {
    padding: 2rem 0;
}

.zen-service-name {
    font-family: $zen-font-light;
    margin-bottom: 1em;

    @media screen and (max-width: 768px) {
        padding-top: 0;
    }
}

object {
    width: inherit;
}

.zen-service-info {
    padding: 4em;

    @media screen and (max-width: 1024px) {
        padding-top: 0;
    }
    
    @media screen and (max-width: 768px) {
        padding: 1em;
    }
}