@import 'src/assets/scss/mixins.scss';

.zen-section-title {
    font-family: $zen-font-light;
    text-align: center;
    letter-spacing: $letter-spacing-s;
}

.zen-home-about-row {
    @include page-padding;
}

.zen-home-about-row:last-child {
    background: $off-white;
}