@import 'src/assets/scss/mixins.scss';
@import '../home-content.component.scss';

.zen-section-title {
    font-family: $zen-font-light;
    text-align: center;
    letter-spacing: $letter-spacing-s;
}

.zen-home-about-row {
    margin: 10rem 0;

    @media screen and (min-width: 2560px) {
        margin: 20em 0 15em 0;
    }
}