<div *ngIf="_authPage">
    <div *ngIf="_authProprietorPage; then proprietorFeatureHighlights; else associateFeatureHighlights"></div>
</div>
<ng-template #proprietorFeatureHighlights>
    <h3 class="mb-3">Business Proprietors</h3>
    <div class="zen-text-dark-grey">Start building your project with us today and enjoy the following benefits among others:</div>

    <ul>
        <li *ngFor="let feature of _proprietorFeatureHighlits"><mat-icon class="mr-2">check</mat-icon>{{feature}}</li>
    </ul>
    <div class="mt-4 text-center">
        <button type="button" class="btn zen-btn-outline-solid zen-auth-option" tabindex="1">View All Features</button>
    </div>
</ng-template>
<ng-template #associateFeatureHighlights>
    <h3 class="mb-3">Community Associates</h3>
    <div class="zen-text-dark-grey">Be a community associate today and start enjoying these perks among many:</div>

    <ul>
        <li *ngFor="let feature of _associateFeatureHighlits"><mat-icon class="mr-2">check</mat-icon>{{feature}}</li>
    </ul>
    <div class="mt-4 text-center">
        <button type="button" class="btn zen-btn-outline-solid zen-auth-option" tabindex="1">View All Features</button>
    </div>
</ng-template>