@import 'src/assets/scss/mixins.scss';
@import '../home-hero.component.scss';

h1, p {
    @media only screen and (max-width: 600px) {
        text-align: center;
    }
}

img {
    content: url('src/assets/images/logo/zenify-icon.webp');
    width: inherit;

    @media only screen and (max-width: 600px) {
        width: 5em;
    }
}