<div class="row">
    <div class="col-12 col-md-4">
        <img src="assets/images/logo/zenify-icon.webp" />
    </div>
    <div class="col-12 col-md-8 text-left pl-4">
        <h3 class="zen-section-title zen-basic text-uppercase">About Zenify</h3>
        <p class="mt-4">
            Zenify is a web development company established in 2020 amidst the COVID-19 global pandemic that has brought about a drastic economic change with the primary goal of providing jobs to local Filipino talents.
        </p>
        <p>
            The company focuses in providing tailor-fitted web solutions to help individuals and organizations implement and/or automate their business processes.
            We believe that "less is more" - people and businesses can get more things done by unloading most, if not all, of their processes to be automated.
        </p>

        <p>
            We continually study and learn market trends to be able to deliver quality solutions and address business needs while remaining reasonably affordable.
        </p>
    </div>
</div>