<div class="pt-4 pb-4 mb-4 text-center">
    <h1 class="zen-basic">Zenify Software Solutions, Co.</h1>
    <p class="mt-4">
        We are a web and software development service provider based in the Philippines established late in 2020 amidst the COVID-19 pandemic that has brought about a drastic global economic change. The company was conceived purpose-driven to promote underpaid software developers and help build up raw Filipino talents.
    </p>
    <p>
        Our team is currently composed of developers that specializes in a wide range of frameworks and technologies in software development. We focus on providing tailor-fitted web solutions to help individuals and businesses automate and/or implement their daily operations.
        We advocate the minimalistic principle "less is more" - getting more things done by unloading most, if not all, of recurring processes into software.
</div>