@import 'src/assets/scss/mixins.scss';

.zen-section-title {
    font-family: $zen-font-light;
    text-align: center;
    letter-spacing: $letter-spacing-s;
}

img {
    content: url('src/assets/images/logo/zenify-icon.webp');
    width: inherit;

    @media only screen and (max-width: 600px) {
        width: 5em;
    }
}