<div class="pt-4 pb-4 mb-4 text-center">
    <h1 class="zen-basic">Zenify Software Solutions, Co.</h1>
    <p class="mt-4">
        Zenify was first established in 2020 amidst the COVID-19 pandemic that has brought about a drastic global economic change. Our primary motivation has always been to provide jobs and help promote lives of raw Filipino talents.
    </p>
    <p>
        We focus on providing tailor-fitted web solutions to help individuals and organizations implement and/or automate their business operations.
        We adapt the principle "less is more" - you can get more things done by unloading most, if not all, of your day-to-day processes into software.
</div>