@import 'src/assets/scss/mixins.scss';

#zen-page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "hero"
        "content"
        "footer";
}

#zen-header {
    grid-area: header;
    width: 100%;
}

#zen-header zen-home-header {
    @include position(fixed, 0, 0, auto, 0);
    @include page-padding;
    padding-top: .5em;
    padding-bottom: .5em;
    background: $white;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.035);
    z-index: 999;
    @media screen and (max-width: 600px) {
        padding-bottom: .3em;
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.075);
    }
}

#zen-header object {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    @media screen and (max-width: 600px) {
        display: none;
    }
}

#zen-hero {
    grid-area: hero;
    @include page-padding;
}

#zen-content {
    grid-area: content;
    @media screen and (max-width: 600px) {
        margin-top: 5em;
    }
}

#zen-footer {
    @include page-padding;
    grid-area: footer;
    background: $zen-palette-4;
}