@import 'src/assets/scss/mixins.scss';
@import '../home-content.component.scss';

.zen-section-title {
    font-family: $zen-font-light;
    text-align: center;
    letter-spacing: $letter-spacing-s;
}

.zen-faq-empty {
    margin-bottom: 20em;
}

mat-accordion {
    animation: 1.5s fade-in-right;
}

.zen-home-faq-panel {
    box-shadow: none !important;
    background: transparent !important;
}

.zen-home-faq-panel mat-expansion-panel-header {
    font-family: $zen-font-regular !important;
}

.zen-home-faq-panel p {
    font-family: $zen-font-regular !important;
    color: $dark-grey !important;
}

.zen-home-about-row {
    background: $off-white;
}