<h3 class="zen-section-title zen-basic text-uppercase mb-4">Frequently Asked Questions</h3>
<mat-accordion>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                What services do you offer?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
            At the moment, our team is more geared towards web development. However, we also develop back-end RESTful APIs to interface with your business processes.
        </p>
        <p class="text-justify">
            As our team continues to grow, we will eventually be offering more services. If you'd like to hear about it when we do, you may subscribe to our newsletter to receive our latest updates and promotions.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Why a website?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
            In the age of the Internet - a resource so widely used whether you're stationary or mobile - 
            we strongly believe that one of the biggest and crucial step in expanding a business would be to establish an online presence so readily accessible by anyone no matter where they are.
            Promoting portfolios, products and services couldn't get any easier than simply sharing a business address - a URL.
        </p>
        <p class="text-justify">
            Investing in a website may seem costly especially when you're just starting, but we believe the loss would eventually be greater if you've chosen not to and will outweigh how much you think you've saved,
            most especially when competitors in the market have already taken the lead.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Where are you located?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">Our team is based in the Philippines, which is why we are able to offer you very affordable rates on software development without compromising in quality.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                How much are your rates for web applications?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
            A lot of factors and variables could affect our rates such as the urgency of the project, nature or niche of the business, project scope, etc.
            As such, we are unable to provide a concrete amount. However, we can always assure our clients that our rates are affordable and reasonably priced.
        </p>
        <p class="text-justify">
            We can provide you a quotation for free! <a href="#" class="zen-primary-link" routerLink="/contact">Send us a message</a> and we'll get back to you as soon as possible to further discuss and better understand your needs.
        </p>
        <p class="text-justify">
            If you need a rough estimate on our pricing range, check out our <a href="#" class="zen-primary-link" routerLink="/pricing">Pricing</a> page.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                What is a minimum viable product?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
            An MVP is a product version with just enough set of features in the system to receive customer feedback in its early stages or to jumpstart businesses as soon as possible.
            Most business owners often prefer to go for these instead of paying for full-featured systems in one go to save from investing on unnecessary work which, at the end, may or may not be positively received by customers.
        </p>
        <p class="text-justify">
            Our development rates have been structured in favor of producing MVPs unless, otherwise, stated and/or requested by the client.
        </p>
    </mat-expansion-panel><mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                I don't have all the details yet, can I make requirement changes even with on-going development?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
           Yes, we're here to help build your business. Feel free to let us know what changed, we won't be charging you unless the changes are signifcant enough to cause a major impact on the scope, complexity and/or target delivery.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                How long will development usually take?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
            We typically follow a standard lead time of 2 months. This is to allow enough time for optimization and testing, but duration shall all depend on the business niche, as well as the scope and complexity of the system. All of which shall be determined prior to development.
        </p>
        <p class="text-justify">
            Urgent projects shall be billed at an extra rate, which we shall be disclosing before starting the project.
            However, if the application is simple enough, we shall be delivering it earlier free of charge. We are also offering discounted rates for non-urgent projects for 4 months and beyond.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                How do I keep tabs on the overall status of the development?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">We will be sending you detailed reports on the overall status of the project
            along with any unforeseen challenges, should there be any, that arose during development and could impact either your billing or the date of delivery.
            We will always guarantee you that we won't make any major decisions on the application without your consent.</p>
        <p class="text-justify">
            We will be emailing you these reports periodically in the frequency of your choice. We will also provide you access to our Clients' hub for you to be able to check the status in real-time.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                When will my billing start?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
            Before starting the project, we will require a <strong>down payment of 30%</strong> of the total development cost. The rest shall be billed to you upon delivery of the application. 
            We will be sending you an invoice that shall detail the initial agreed cost and all additional charges, if any, for the changes that was agreed mid-development.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Are there any hidden charges I should be aware about?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
            No, whatever amount we have agreed upon pre-development is fixed with no running cost and will be the exact amount we shall be billing you unless there are any major changes in scope, complexity and/or duration which you've requested during development.
            In such a case, we will setup a recorded meeting to discuss all possible options and how it affects the overall cost. Rest assured we won't be charging you anything or make any changes without your approval.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Will I need post-development maintenance for my application?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
            Yes, as all applications would. Over time, with the rapid updates in technology, software libraries and design trends along with evolving customer needs, every application will need to adapt to these changes. Otherwise, it would eventually look and feel outdated and/or perform poorly.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                After the application has been built, will you also be doing maintenance?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
            The cost we have billed you was for the development of the application's MVP. We will be offering you 3 months of maintenance post-development free of charge.
            During such time, we shall no longer be doing additional feature development and/or changes from what was originally agreed on.
        </p>
        <p class="text-justify">
            We're still happy to help you further, take care of maintaining your application, and/or add any awesome features you'd like to have, but it shall be considered a new project and shall be charged separately at a discounted rates.
        </p>
        <p class="text-justify">
            If you do not wish for us to do so, we still want to be there and help you with the transition, so we shall be providing you all credentials along with a technical documentation which you could then pass on to the team who will be maintaining your application moving forward.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                I have an application not developed by Zenify, do you offer maintenance services?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="text-justify">
            Yes, we are happy to! However, since the product was not designed and developed by us, we will need to examine and assess the scope and complexity of the application, the business niche, as well as the technologies that was previously used.
            These and the duration on which you want us to look after the application will affect our rates. As such, our published pricing range do not apply and we cannot readily provide an estimate.
        </p>
        <p class="text-justify">
            Please do not hesitate to <a href="#" class="zen-primary-link" routerLink="/contact">contact us</a> to discuss the project further so we can give you a quotation for free.
        </p>
    </mat-expansion-panel>
</mat-accordion>