<section id="faq" class="zen-home-about-row">
    <div class="mt-4 mb-4">
        <h3 class="zen-section-title zen-basic text-uppercase mb-4">Frequently Asked Questions</h3>
        <mat-accordion *ngIf="loadFaqs()">
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        What services do you offer?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                    At the moment, our team is more geared towards web development. However, we also develop back-end RESTful APIs to interface with your business processes.
                </p>
                <p class="text-justify">
                    As our team continues to grow, we will eventually be offering more products and/or services.</p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Why a website?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                    In the age of the Internet - a resource so widely used whether you're stationary or mobile - 
                    we believe that one of the biggest and crucial steps in expanding a business would be to establish an online presence so readily accessible by anyone anywhere in the globe.
                    Promoting portfolios, products and services couldn't get any easier than sharing your business address - a URL.
                </p>
                <p class="text-justify">
                    Investing in a website may seem costly especially when you're just starting, but we believe the loss would eventually be greater if you've chosen not to and will outweigh how much you think you've saved,
                    most especially when competitors in the market have already taken the lead.
                </p>
                <p class="text-justify">
                    If you don't own a domain yet, you may check for its availability in registrars like <a href="https://www.namecheap.com/" class="zen-primary-link">Namecheap</a>.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Where are you located?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">Our team is based in the Philippines, which is why we're confident to offer you very affordable rates on software development without compromising in quality.</p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How much does software development cost?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                    A lot of factors and variables affect our rates such as the project's urgency, niche of the business, scope, etc.
                    As such, we are unable to provide a concrete amount. However, we always assure our clients that our rates are very affordable.
                </p>
                <p class="text-justify">
                    We can provide you a quotation for free! <a href="#" class="zen-primary-link" routerLink="/contact">Send us a message</a> and we'll get back to you as soon as possible to further discuss and better understand your needs.
                </p>
                <p class="text-justify">
                    If you need rough estimates or a range to start on, check out our <a href="#" class="zen-primary-link" routerLink="/pricing">Pricing</a> page.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How long does development usually take?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                    A project's duration varies according to scope and complexity taking around a month at a minimum. This is to allocate enough time for optimization and testing, as we aim to deliver quality solutions with the least number of issues as possible. However, less complex applications i.e. sites with up to 3 static pages can sometimes be done in only 2-3 weeks.
                </p>
                <p class="text-justify">
                    Urgent projects will require more people in the project and shall be billed at an extra rate, which shall be disclosed to you prior to onboarding.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        What is a minimum viable product?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                    An MVP is a product version with a bare minimum set of features, just enough to solicit feedback from customers in the early stages of a product.
                    Most business owners often prefer these rather than paying for full-featured systems in one go to save from investing on unnecessary work which, at the end, may or may not be positively received by their end-users.
                </p>
                <p class="text-justify">
                    Our development rates have been structured in favor of producing MVPs unless, otherwise, stated and/or requested by the client.
                </p>
            </mat-expansion-panel><mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Can I make requirement changes during development?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                Yes, we're here to help build your business, so feel free to let us know what changed. We don't charge you for these changes unless they are signifcant enough to cause a major impact on the scope, complexity and/or the project's original target delivery.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How do I keep tabs on the project's status?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                
                <p class="text-justify">
                    Our teams use project monitoring softwares such as <a href="https://asana.com/" class="zen-primary-link">Asana</a>. We will be providing you access to the project so you can view its progress in real-time.
                </p>

                <p class="text-justify">
                    On top of that, we will also be sending you reports periodically on the project's status
                    along with any unforeseen challenges, should there be any that arose during development and could impact either your billing or the date of delivery.
                    Rest assured we don't make any major decisions without your approval.</p>
                <p class="text-justify">
                    We will email you these reports in the frequency of your choice. We will also provide you access to our Clients hub for you to revisit all that's been agreed upon so far.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        When will I be charged?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                    Before starting the project, we only require a <strong>down payment of 30%</strong> of the total development cost. The rest shall be billed to you upon delivery of the application. 
                    We will be sending you an invoice that shall detail the initial agreed cost and all additional charges, if any, for the changes that was agreed mid-development.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Are there any hidden charges I should be aware about?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                    Definitely none! Whatever amount agreed upon prior to development is fixed with no running cost and will be the exact amount we shall be billing you unless there are any major changes in scope, complexity and/or duration which you've requested during development.
                    In such a case, we will setup a recorded meeting to discuss all possible options and how it affects the overall cost. Any charges billed to you that has not been documented shall be waived.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Will I need post-development maintenance for my application?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                    Yes, as all applications would. Over time, with the rapid updates in technology, software libraries and design trends along with evolving customer needs, every application will need to keep up. Otherwise, it would eventually look and feel outdated or worse, degrade in performance over time.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Do you do post-development maintenance?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                    The amount that's been billed to you by this time was for the development of the application's MVP. We offer 3 months of post-development maintenance free of charge.
                    During such time, we shall no longer be doing any additional feature implementation and/or changes from what was originally agreed on.
                </p>
                <p class="text-justify">
                    Though we'd still be happy to help you further - take care of any maintenance work and/or add any awesome features, but it shall be considered a new project and shall be charged separately at discounted rates.
                </p>
                <p class="text-justify">
                    If you do not wish for us to do so, we want to help you with the transition so we shall be providing you all project-related credentials along with a technical documentation which could be used by the team who will be maintaining your application moving forward.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Do you do maintenance for existing applications?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p class="text-justify">
                    Yes, we are happy to! However, since the product was not designed and developed by us, we will first need to examine and assess the scope and complexity of the application, the business niche, as well as the technologies that was previously used.
                    These and the duration on which you want us to look after the application will affect our rates. As such, our published pricing range do not apply and cannot readily provide an estimate.
                </p>
                <p class="text-justify">
                    Please do not hesitate to <a href="#" class="zen-primary-link" routerLink="/contact">contact us</a> to discuss the project further so we can give you a quotation for free.
                </p>
            </mat-expansion-panel>
        </mat-accordion>

        <div id="zen-home-service-onboarding">
            <button type="button" class="btn zen-btn-primary p-3 text-uppercase" tabindex="1" routerLink="/contact">Zenify your business today!</button>
        </div>
    </div>
</section>