<h3 class="zen-section-title zen-basic text-uppercase mb-4">Frequently Asked Questions</h3>
<mat-accordion>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Where are you located?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p>Our team is based in the Philippines. One of the main reasons why we are able to offer very affordable rates on software development.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                What services do you offer?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p>At the moment, our team is more geared towards web development. However, as our team continues to grow, we will eventually be offering more services.</p>
        <p>If you want to get notified the moment we do, you may subscribe to our newsletter to receive our latest updates and promotions.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                How much are your rates for a web application?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p>A lot of factors and variables could affect our rates such as the urgency of the project, nature of business, project scope, etc.
            As such, we are unable to provide a concrete amount. However, we can always assure our clients that our rates are affordable and reasonably priced.
        </p>
        <p>
            We can provide you a quotation for free! <a href="#" class="zen-primary-link" routerLink="/contact">Send us a message</a> and we'll get back to you as soon as possible to further discuss and better understand your needs.
        </p>
        <p>
            If you need a rough estimate on our pricing range, check out our <a href="#" class="zen-primary-link" routerLink="/pricing">Pricing</a> page.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                How long does development usually last?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
            Development duration will all depend on the business niche, scope and complexity of the application you wish for us to develop. At Zenify, we typically follow a standard delivery of 2 months. This is to allow enough time for optimization and testing.
        </p>
        <p>
            If the project is urgent, at the client's request, we can also deliver it earlier than our standard time, but will incur extra charges which will be disclosed before agreeing on the final cost.
            However, if the application is simple enough, we will still be delivering it earlier free of charge.
        </p>
        <p>
            We also offer discounted rates for non-urgent projects beyond 4 months.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                How do I keep tabs on the status of the application?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p>We will be sending your reports on what is currently being worked on, what's already been completed and the overall status of the project
            as well as any unforeseen challenges, should there be any, that arose during development that could impact either your billing or the date of delivery.
            We will always guarantee you that we won't make any major decisions on the application without your consent.</p>
        <p>
            We will be emailing you these reports periodically in the frequency of your choice. We will also provide you access to our Clients' hub for you to be able to check the status in real-time.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Are there any hidden charges I should know about?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
            No, the amount we have agreed at the start of the project will be the exact amount we will be billing you unless there will be any significant changes you've requested during development.
            In such a case, we will be discussing options with you and the changes to the final cost. Upon your approval, we will be billing you the newly defined cost upon completion.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                When will I be billed?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
            Before starting the project, we will require a down payment of 30% of the final project cost. The rest shall be billed to you upon delivery of the application.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                After the application has been built, will you also be performing maintenance of the application?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
            The cost we have billed you was for the development of the application. We will be offering you 2 months of maintenance post-development free of charge to fix whatever issues that may have still been left out.
            During this time, we would no longer be doing some additional feature implementations and/or changes from what was originally agreed on.
        </p>
        <p>
            We would still be happy to help you further and take care of maintaining your application, as well as add any awesome features you request, but it shall be considered a new project and will incur new and separate charges.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="zen-home-faq-panel" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                I already have an existing application, do you offer maintenance services?
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
            Yes, we would be happy to! However, since the product was not designed and developed by us, we will need to assess the scope and complexity of the application, the business niche, as well as the technologies that was previously used.
            This and the duration on which you want us to look after the application will affect our rates. As such, our published pricing range may not apply.
        </p>
        <p>
            Please do not hesitate to <a href="#" class="zen-primary-link" routerLink="/contact">contact us</a> to discuss the project further so we can give you a quotation for free.
        </p>
    </mat-expansion-panel>
</mat-accordion>